export EPHEMERA_LAMBDA_ROLE_ARN=""
export EPHEMERA_FUNCTION_NAME=""

export EPHEMERA_S3_BUCKET_NAME=""
export EPHEMERA_HOST_SUFFIX=""
export EPHEMERA_AUTH_SUBDOMAIN=""

export EPHEMERA_SESSION_KEY=""
export EPHEMERA_CLIENT_ID=""
export EPHEMERA_CLIENT_SECRET=""
